<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Houses</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <a id="back" href='/houses'>List</a>
    <a id="out" href="/logout">Logout</a>
</head>
<body id="newbody">
   

    <h2 id="newadd">Enter a New House</h2>
<form id="allList" action="/houses" method="POST">
  <label for="address">Address:
    <input type="text" name="address" id="address"/>
  </label><br>
  <label>Bedrooms:
    <select name="bedrooms">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
  </label><br>
  <label>Bathrooms
    <select name="bathrooms">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
  </label><br>
  <label>Squarefeet:
    <input type="text" name="squarefeet">
  </label><br>
  <input id="newbutton" type="submit" value="Add House">
</form>



</body>
</html>